option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "showerthoughts.settings"
    "PYTHONPATH": "/opt/python/current/app/showerthoughts:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: showerthoughts/showerthoughts/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

