container_commands:
  01_installpkg:
    command: "source /opt/python/run/venv/bin/activate && pip install psycopg2"
  02_migrate:
    command: "source /opt/python/run/venv/bin/activate && python showertexts/manage.py migrate --noinput"
    leader_only: true
  03_createsu:
    command: "source /opt/python/run/venv/bin/activate && python showertexts/manage.py createsu"
    leader_only: true
  04_collectstatic:
    command: "source /opt/python/run/venv/bin/activate && python showertexts/manage.py collectstatic --noinput"

option_settings:
  "aws:elasticbeanstalk:application:environment":
    DJANGO_SETTINGS_MODULE: "showertexts.settings"
    "PYTHONPATH": "/opt/python/current/app/showertexts:$PYTHONPATH"
  "aws:elasticbeanstalk:container:python":
    WSGIPath: showertexts/showertexts/wsgi.py
    NumProcesses: 3
    NumThreads: 20
  "aws:elasticbeanstalk:container:python:staticfiles":
    "/static/": "www/static/"

