@import url(http://fonts.googleapis.com/css?family=Raleway:400,700,800);
*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
html {
  height: 100%;
}
body {
  height: 100%;
  background: #504873;
  color: #fffce1;
  font-family: 'Raleway', Arial, sans-serif;
}
a {
  color: #4e4a46;
  text-decoration: none;
}
a:hover,
a:focus {
  color: #c94e50;
}
h1 {
  font-weight: 800;
  font-size: 3.75em;
}
h2 {
  max-width: 20em;
  margin: 0 auto;
  line-height: 1.3em;
  font-weight: 400;
}
#main {
  height: 100%;
  padding: 3em 2em;
  text-align: center;
  background: #b4bad2;
  overflow: scroll;
  margin: 20px;
  background-image: url('/static/img/shower-dude.png');
  background-repeat: no-repeat;
}
a:hover, a:focus {
    color: #c94e50;
}
a:active, a:hover {
    outline: 0;
}
a {
    color: #4e4a46;
    text-decoration: none;
}
#subscribe {
    display: inline-block;
    margin: 0.75em;
    padding: 0.55em 1.1em;
    width: 26em;
    background: #fffce1;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 800;
    border-top-left-radius: 20px 50px;
    border-top-right-radius: 20px 50px;
    border-bottom-right-radius: 20px 50px;
    border-bottom-left-radius: 20px 50px;
    cursor: pointer;
    margin-top: 24px;
}

a:active, a:hover {
    outline: 0;
}

input {
    font-size: 35px;
    width: 17em;
    text-align: center;
    padding: 7px;
}


h3, h4 {
    color: #777;
    margin-bottom: 30px;
}

h5 {
    color: #779;
    margin-bottom: 150px;
}
