{% extends 'base.html' %}
{% block content %}
<div class="jumbotron">
  <h1>Shower Texts</h1>
  <p class="lead">Your daily dose of ShowerThoughts - sent to your phone.</p>
  <p>
    <form method="post" action="/subscribe">
      {% csrf_token %}
      <input type="text" id="sms_number" name="sms_number" placeholder="Mobile Number (i.e. 209-555-1212)">
      <input type="submit" class="btn btn-lg btn-success" href="#" role="button" value="Send me a daily shower thought!" />
  </form>
  </p>
  <p>I won't send any spam or anything etc etc.</p>
</div>

<div class="row marketing">
  <div class="col-lg-6">
    <h4>March 23, 2015</h4>
    <p>Waterboarding at Guantanamo Bay sounds super rad if you don't know what either of those things are.</p>

    <h4>April 20, 2015</h4>
      <p>When Sweden is playing Denmark, it is SWE-DEN. The remaining letters, not used, is DEN-MARK.</p>

    <h4>April 1, 2015</h4>
    <p>April Fool's Day is the one day of the year when people critically evaluate news articles before accepting them as true.</p>
  </div>

</div>

{% endblock %}
