{% extends 'base.html' %}
{% load staticfiles %}
{% block head %}
    <script src="{% static 'js/landing.js' %}"></script>
{% endblock %}
{% block content %}
    <h1 id="heading" class="animated rubberBand"><a href="http://www.showertexts.com">ShowerTexts</a></h1>

    <div class="rain"></div>
    <h3 id="thought" class="animated">Your daily dose of ShowerThoughts - sent directly to your phone.</h3>
    <input type="text" placeholder="Mobile Number (e.g. 415-867-5309)" id="sms_number" autocomplete="off"><br/>
    <a id="subscribe" href="#">Send me a daily shower thought</a>

    <h2>
        Shower Thoughts are itty-bitty witty bite-sized clever thoughts. This is a site which will automatically
        text you the Internet's most popular Shower Thought each day.
    </h2>
    <h4>
        I'm doing this just for fun. No strings attached. I hate spam more than you do and I'd never ever share your
        number.<br/>
        Unsubscribe by replying <b>STOP</b>.
    </h4>
    <h5>
        Created by <a href="http://www.bugben.com">Ben Friedland</a>.
        Shower Thoughts are automatically retrieved from <a href="http://reddit.com/r/showerthoughts">/r/showerthoughts</a>.<br/>
        <a href="http://www.github.com/ben174/showertexts">View the source on GitHub</a>
    </h5>
    <h6>Featured on</h6>
    <div class="featured">
        <div id="left">
            <a href="http://www.wired.com/2015/08/4-new-apps-use-shower-texts-bar-roulette/">
                <img src="{% static 'img/wired.png' %}" width="200"/><br/>
                Apps You Should Be Using<br/>
                August, 2015
            </a>
        </div><div id="right">
            <a href="#">
                <img src="{% static 'img/alexa.png' %}" width="200"/><br/>
                On Your <br />
                Amazon Echo
            </a>
        </div>
    </div>
{% endblock %}
